.hex.hex-tickets {
  background: #fff;
  clip-path: polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
  padding: 3px;
  right: 23px;
  top: 7px;
  width: 88px;
}

.hex.hex-membership {
  background: #fff;
  clip-path: polygon(8% 0%, 92% 0%, 100% 50%, 92% 100%, 8% 100%, 0% 50%);
  padding: 3px;
  right: 99px;
  top: 26px;
  width: 120px;
}

.hex.hex-calendar {
  background: #fff;
  clip-path: polygon(19% 0%, 81% 0%, 100% 50%, 81% 100%, 19% 100%, 0% 50%);
  cursor: pointer;
  padding: 3px;
  right: 53px;
  top: 44px;
  width: 58px;

}

/******************************************/

.hex.hex-tickets #hexLeft {
  float: left;
  border-right: 8px solid #0aa98c;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
}

.hex.hex-tickets #hexCenter {
  float: left;
  line-height: 34px;
  width: 66px;
  height: 34px;
  background-color: #0aa98c;
}

.hex.hex-tickets #hexRight {
  float: left;
  border-left: 8px solid #0aa98c;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
}

/******************************************/

.hex.hex-membership #hexLeft {
  float: left;
  border-right: 8px solid #1d4da9;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
}

.hex.hex-membership #hexCenter {
  float: left;
  line-height: 34px;
  width: 98px;
  height: 34px;
  background-color: #1d4da9;
}

.hex.hex-membership #hexRight {
  float: left;
  border-left: 8px solid #1d4da9;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
}

.hex.hex-calendar #hexLeft {
  float: left;
  border-right: 9px solid #24a9e4;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
}

.hex.hex-calendar #hexCenter {
  float: left;
  line-height: 34px;
  width: 34px;
  height: 34px;
  background-color: #24a9e4;
}

.hex.hex-calendar #hexRight {
  float: left;
  border-left: 9px solid #24a9e4;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
}
