#footer {
  background: #3c3838;
  border-top: 5px solid #fff;
  color: #adadae;
  padding: 40px;
  padding-top: 25px;
}

#footer img {
  height: 40px;
  margin: 5px 20px 0 0;
  max-width: 100%;
}

#footer #legacyImage {
  height: 70px;
  margin: 10px;
  width: 147px;
}

#footer a {
  text-decoration: none;
  color: #adadae;
}

#footer a:hover {
  color: #24a9e4;
}
